################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Prog2Engine/FileContentIndex/3a0baa6a-dd77-494d-8bcb-cd1e210035d9.vsidx
/.vs/Prog2Engine/FileContentIndex/3ec174f5-72b9-429b-9ef1-e899cfb4248a.vsidx
/.vs/Prog2Engine/FileContentIndex/5883bdb1-a264-4cf0-9561-3218c0765195.vsidx
